<div class="cart">
  <h2 class="title">Cart:</h2>
  <ul class="list">
    <li class="item" *ngFor="let beer of beers$ | async; trackBy: trackByFn">
      {{ beer.name }} <span class="del" (click)="onClick(beer)">X</span>
    </li>
  </ul>
</div>
