.title {
  color: blue;
}

.list {
  list-style: none;
  padding: 0;
}

.item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.del {
  color: red;
  cursor: pointer;
}
