<div class="container">
  <div class="row">
    <div class="col-12 col-lg-3 order-0">
      <app-cart></app-cart>
    </div>
    <div
      class="col-12 col-md-6 col-lg-3 mb-2 order-1"
      *ngFor="let beer of beers$ | async; trackBy: trackByFn"
    >
      <app-product [beer]="beer"></app-product>
    </div>
  </div>
</div>
