.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .name {
    color: blue;
  }

  .description {
    overflow: hidden;
    height: 100px;
  }

  .btn-add {
    border: 1px solid blue;
    border-radius: 20px;
    max-width: 95px;
    width: 100%;
    background: white;
    white-space: nowrap;
    color: blue;

    &:hover {
      background: blue;
      color: white;
    }
  }
}
