<div class="card">
  <img [src]="beer.image_url" [alt]="beer.name" class="beer-img" height="150" />
  <h3 class="name">{{ beer.name }}</h3>
  <h4>{{ beer.tagline }}</h4>
  <time>{{ beer.first_brewed }}</time>
  <p class="description">{{ beer.description }}</p>
  <button class="btn-add" (click)="onClick()">+ add</button>
</div>
